= form_for post do |f|
  = render 'shared/errors', object: post
  .field
    = f.label :title
    %br/
    = f.text_field :title, autofocus: true
  .field.ckeditor
    = f.label :content
    %br/
    = f.cktext_area :content, :ckeditor => {:language => 'en'}
  .field.ckeditor
    = f.label :more_content
    %br/
    = f.cktext_area :more_content, :ckeditor => {:language => 'en'}
  .actions
    = f.button(type: 'submit', class: 'button') do
      %i.fa.fa-check
      Accept
    = link_to root_path, class: 'button' do
      %i.fa.fa-chevron-left
      Back to Posts
