<%= form_for post do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field ckeditor">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :ckeditor => {:language => 'en'}%>
  </div>

  <div class="field ckeditor">
    <%= f.label :more_content %><br />
    <%= f.cktext_area :more_content, :ckeditor => {:language => 'en'} %>
  </div>

  <div class="actions">
    <%= f.button(type: 'submit', class: 'button') do %>
      <i class="fa fa-check"></i> Accept
    <% end %>

    <%= link_to root_path, class: 'button' do %>
      <i class="fa fa-chevron-left"></i> Back to Posts
    <% end -%>
  </div>
<% end -%>
