.post
  .post-date
    %p.post-date-day= post.created_at.strftime('%d')
    %p.post-date-month= post.created_at.strftime('%b')
    %p.post-date-year= post.created_at.strftime('%Y')
  .post-title
    = post.title
  .post-content
    = post.content.html_safe
    %div{ style: 'clear:both' }
  - if request.env['PATH_INFO'] == '/'
    = link_to('Read more..', post, class: 'read-more') unless post.more_content.try(:empty?)
    %div.comments-count
      comments
      %span= "(#{post.comments_count})"
  - else
    .post-content
      = @post.more_content.html_safe
      %div{ style: 'clear:both' }
      = react_component('Comments', comments: post.comments, postId: post.id)
    = link_to root_path, class: 'button' do
      %i.fa.fa-chevron-left
      Back to posts
  = render('posts/controll_buttons', post: post) if user_signed_in?
