<!DOCTYPE html>
<html>
  <head>
    <title>SomeBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='log-in-out-menu'>
      <% if user_signed_in? -%>
        <a href='<%= destroy_user_session_path %>' data-method="delete"><i class="fa fa-unlock"></i>Log out</a>
        <a href='<%= new_post_path %>'><i class="fa fa-plus"></i>Add Post</a>
      <% else -%>
        <a href='<%= new_user_session_path %>'><i class="fa fa-lock"></i>Log in</a>
      <% end -%>
    </div>
    <%= render 'layouts/header' %>
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
